*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

div.product-overlay :nth-child(2){
    position:absolute;
    left:0;
    top:0;
    display:none;
}

.product-overlay:hover :nth-child(2){

    display: block;

}

.product-overlay button{
    color:black;
    font-size: 40px;
    background-color: white;
    border: 0;
    top:15px;
    right:0;
    padding-right: 20px;
    padding-left: 20px;
}

.section-container img{
    width: 100%;
    height: 450px;
}

.section-product:last-child .product-overlay > div{
    left:0;

}

.section-container{
    width: 1000px;
    height: auto;
    margin: 20px auto;
    
}

.section-product{
    width:auto;
    height: auto;
    display:inline-block;
}

.product-brand{
    font-size:15px;
    color: gray;
}

.product-name{
    font-weight: bold;
}

.product-price{
    color:red;
    font-weight: bold;
}

.product-discount{
    font-size: 15px;
    text-decoration: line-through;
}

.product-overlay{
    position: relative;
}

.overlay{
    position: absolute;
    color:white;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 5px;
}

.ov-discount{
    background-color: rgb(248, 27, 27);
    bottom:20px;
    left:0;

}

.ov-sost{
    background-color: rgb(9, 172, 63);
    bottom:20px;
    left: 50px;
}

